body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align {
  text-align: center;
}

.width-table {
  max-width: 1000px;
}

.flex-align {
  display: flex;
  justify-content: center;
}

.width-create {
  width: 300px;
}

.crimson {
  color: crimson;
}

.flex-paragraph {
  display: flex;
  align-items: center;
}

.color-decoration {
  color: rgb(62, 62, 129);
}


